{% extends "base.html"%}
{% block content %}
<div id="app">
<div class="container">
    <div class="row mt-5 pt-5" >
        <div class="col-md-4">
            <label>Enter pincode</label>
            <input class="form-control"  v-model="pincode" type="text" placeholder="Enter pincode">
        </div>
        <div class="col-md-4">
            <label>Select Km</label>
            <select class="form-control" v-model="km">
                <option value="any">Any</option>
                <option value="1">1 KM</option>
                <option value="2">2 KM</option>
                <option value="5">5 KM</option>
                <option value="10">15 KM</option>
                <option value="50">50 KM</option>
            </select> 
        </div>
        <div class="col-md-4">
            <button class="btn btn-success mt-4" v-on:click="getRest()">Submit</button>
        </div>
    </div>

    <div class="row mt-5 pt-5" >
        <div class="col-md-4" v-for="restaurant in restaurants">
            <div class="card shadow-lg m-3" style="width: 18rem;">
                <img :src="restaurant.image"
                    class="card-img-top" alt=".." style="height:200px">
                <div class="card-body">
                    <h5 class="card-title">[[restaurant.name]] </h5>
                    <p class="card-text">[[(restaurant.description)]]</p>
                    <p class="card-text"><strong>pincode:</strong></br>[[(restaurant.pincode)]]</p>
                    <a href="#" class="btn btn-primary">[[restaurant.distance]] KM</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

<script>
    const app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                pincode : '',
                km : 'any',
                tasks: [],
                restaurants : []
            }
        },
        created() {
            this.tasks = ['do this 🐱‍🐉', 'and that 🤳'];
        },
        methods : {
            getRest(){
                if(this.pincode == ''){
                    alert('Pincode cannot be null');
                    return;
                }
                
                fetch(`api/get/?pincode=${this.pincode}&km=${this.km}`)
                .then(result => result.json())
                .then(response => {
                    this.restaurants = response
                })
            }
        }
    });
</script>

{% endblock %}